@use 'styles/breakpoints';
@use 'styles/mixins';

.promo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 24rem;

  @include breakpoints.md {
    max-width: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include breakpoints.lg {
    gap: 1.5rem;
  }
}
