.loading-spinner {
  > div {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    animation: spinner 1.4s infinite ease-in-out both;

    ~ div {
      margin-left: 0.375rem;
    }

    &:first-child {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }

  &.accent {
    > div {
      background-color: var(--color-accent);
    }
  }
}

@keyframes spinner {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
